body {
  text-align: center;
  background-color: rgb(255, 222, 113);
  margin: auto;
 
}

button.btn-outline-dark {
  background-color: #556B2F; /* olive Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #556B2F;
    text-transform: capitalize;
    min-width:200px;

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    padding: 0.5rem 0;
    background: rgb(14, 13, 13);
}

  h1 {
    color: black;
    text-align: center;
    margin: auto;
  }
  p {
    color: black;
    text-align: center;
  }
.pokemon-list {
  padding: auto;
  list-style: none;
  display: flex;
  grid-template-columns: 200px repeat(auto-fill, 100px) 300px;
  text-align: center;
  grid-row-gap: 20px;
  grid-column-gap: 100px;
  margin: 30px 70px 70px 70px;
}

@supports (display: grid) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
